<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="about my-3"><strong>About</strong></h1>
      <div><%= image_tag 'about2.png', size: "600x400" %></div>
      <div>
        <p class="h4 my-5">
          腸活レシピは腸の環境を整えるレシピサイトです。<br>
          また、日々の腸の状態を記録することができます。<br>
          腸活で体の中からキレイで健康な体を育てましょう！<br>
          『皆様の健康を手助けしたい』<br>
          そんな思いから-腸活レシピサイト-は生まれました。
        </p>
      </div>
    </div>
  </div>
</div>