/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import "slick-theme";
 @import "slick";


 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

// バリデーション色設定
#notice{
  color: #006600;
}

#alert{
  color: red;
}

#error_explanation {
  color: red;
}


 /* 高さを指定することにより画像が表示される */
// topページのスライド
// #box{
//   height: 500px;
// }
// .image1 {
//   background-image: image-url("chokatsu.png");
// }
// .image2 {
//   background-image: image-url("chokatsu05.png");
// }
// .image3 {
//   background-image: image-url("chokatsu06.png");
// }



// .box img {
//   width: 100px;       /* 適当な幅を指定 */
//   position: absolute; /* 相対位置に指定 */
// }

// .main-visual-content {
//   width: 350px; /* 横幅350px */
//   height: 300px; /* 親の高さに揃える */
// }



// tag.top
.tag_item{
  float: left;
  list-style: none;
  margin-right: 30px;
}

// .tag_img {
//     width: 300px;
//     height: 200px;
//     background-image: image-url('no_image/no_image.jpg');
//     background-size: cover;
// }



//category_index

.category_wrapper {
    border-top: 5px dotted #8b4513;
    padding-bottom: 50px;
}


.category_wrapper ul:after {
    content: "";
    display: block;
    clear: both;

}

.category_wrapper ul {
    margin: 0 120px;
}

.category_section_title {
    font-size: 60px;
    text-align: center;
    margin: 20px;
}

.secition_title_kana {
    text-align: center;
    margin-top: -10px;
    margin-bottom: 50px;
}

.category_wrapper p:nth-of-type(2) {
    text-align: center;
    color: #000;
    font-size: 20px;
}



.category_list li {
    float: left;
    margin-bottom: 20px;
}

.category_img {
    width: 300px;
    height: 200px;

    background-size: cover;
}



// .category_list>ul>li:nth-of-type(1)>.category_item>.category_img {
//     background-image: image-url('logo3.png');
// }

// .category_list>ul>li:nth-of-type(2)>.category_item>.category_img {
//     background-image: image-url('tag2.png');
// }

// .category_list>ul>li:nth-of-type(3)>.category_item>.category_img {
//     background-image: image-url('tag3.png');
// }

// .category_list>ul>li:nth-of-type(4)>.category_item>.category_img {
//     background-image: image-url('tag4.jpeg');
// }

// .category_list>ul>li:nth-of-type(5)>.category_item>.category_img {
//     background-image: image-url('tag5.jpeg');
// }

// .category_list>ul>li:nth-of-type(6)>.category_item>.category_img {
//     background-image: image-url('tag6.png');
// }



.category_wrapper li:hover .category_img {
    transform: scale(1.5);
    transition: 0.5s;
    border: 3px solid #ffd700;
}

.category_item:hover {
    text-decoration: none;
}
