/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require simple_calendar
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import "slick-theme";
 @import "slick";


 * {
   margin: 0;
   padding: 0;
 }

 /* 高さを指定することにより画像が表示される */
// topページのスライド
#box{
  height: 500px;
}
.image1 {
  background-image: image-url("chokatsu.png");
}
.image2 {
  background-image: image-url("chokatsu05.png");
}
.image3 {
  background-image: image-url("chokatsu06.png");
}


// recipe/index
.separate-intervals {
  margin-bottom: 30px;
}


.slick-next {
    right: 10px !important;
    z-index: 100;
 }

.slick-prev {
    left: 10px !important;
  z-index: 100;
 }

 .card {
    float: left;
    padding: 20px 30px;
    text-align: center;
}

.container-fluid{
    background-color:#FFEFD5;
}

#slider {
  display: none;
}