// Place all the styles related to the Homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// topページ
.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 400px; /* 高さ300px */
  background-image: image-url("taitl.png");
  background-position:center top;                     /* 画像の表示位置を指定 */
  background-size:cover;                                 /* 画像のサイズを指定  */
  
}

// トップタグ

.tag_item{
  float: left;
  list-style: none;
  margin-right: 30px;
}

.tag_name {
    text-align: center;
    color: #000;
    font-size: 20px;
}


