// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.form-description{
  padding: 10px 10px;
  height: 200px;
}

// recipe/index
.separate-intervals {
  margin-bottom: 30px;
}


.slick-next {
    right: 10px !important;
    z-index: 100;
 }

.slick-prev {
    left: 10px !important;
  z-index: 100;
 }

 .card {
    float: left;
    padding: 20px 30px;
    text-align: center;
}

.container-fluid-recipe{
    background-color:#FFEFD5;
}




.recipe-box-left{
  text-align: center;
}





#slider {
  display: none;
}



// 作り方クリック表示
.et_pb_module {
  display: inline-block;
  margin-left: 30px;

}


.secList {
  width: 600px;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
}

.secList:hover {
  background: #67c5ff;
  color: white;
}
