// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// タブメニュー

h1 {
  text-align: center;
  margin: 50px 0;
}

.wrap {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

#tab-menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;

}

#tab-menu li {
  list-style-type: none;
  width: 25%;
}

#tab-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 20px;
  text-align: center;
  background: #000;
  border: 1px solid #000;
  border-bottom: none;
}

#tab-menu .active {
  background: #fff;
  color: #000;
}

#tab-contents {
  display: flex;
  flex-wrap: wrap;
}

#tab-contents .tab {
  width: 100%;
  padding: 30px;
  // background: #fff;
  // border: 1px solid #000;
  border-top: none;
}

#tab-contents p {
  color: #000;
  line-height: 2.5;
}

// user スマホ対応
@media screen and (max-width: 500px) {

  // .wrap {
  // max-width: 100%;
  // }

  #tab-contents .tab {
    padding: 0px;
  }

  // .profile-image {
  //   width: 200px;
  //   height: 200px;
  // }

  // .offset-1 {
  // margin-left: 0px !important;
  // }
  // .offset-2 {
  //   margin-left: 0px !important;
  // }


  a {
    font-size: 10px;
  }

  // .offset-5 {
  //   margin-left: 15%;
  // }
  // .offset-3 {
  // margin-left: 15%;
  // }

  // .user-botn{
  //   width: 50%;
  //   margin-left: 25%;
  // }

  // .link-edit{
  //   margin: 0px;
  // }
}

